/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Roboto', sans-serif;
}  
/* Header */
.header {
    margin: 20px 0px;
}
.logo .logo2 {
    width: 75%;
    margin-left: 57px;
}
.logo:first-child {
    border-right: 1px solid #00000038;
    float: right;
}
.logo .logo1 {
    width: 50%;
}
.header i{
    color: #cc0404;
}
.header .phonenumber{
    color: #cc0404;
    padding-left: 20px;
}
.header .register {
    padding-left: 10px;
    border-left: 1px solid #00000038;
}
.header  .address a{
    text-decoration: none;
    color: gray
}
.header  .address a:hover {
    background-color: #a52a2a;
    color: #fff;
}
.header .hotline {
    border-left: 1px solid #00000038;
}
.header .switchboard {
    border-left: 1px solid #00000038;
}
.header .register {
    color: #00000038;
}

/* Menu */
#menu ul {
    background: black;
    list-style-type: none;
    text-align: center;
  }
#menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
#menu a:hover, #menu i:hover {
    background: #cc0404;
    color: #fff;
    transition: 0.4s;
}
#menu i {
    color: white;
    font-size: 25px;
    line-height: 33px;
    margin-right: 100px;
    width: 100px;
    height: 40px;
}
/* INTRODUCE CAR */
.intro {
    margin-top: -16px;
}
.colorbackground {
    background-color: #cc0404;
    z-index: -10;
    height: 120px;
}
.colorbackground .tabs-area li {
    display: inline-block;
    transform: translateX(565px);
    margin-top: 5px;
  }
.colorbackground .tabs-area li a {
    border-radius: 0;
    color: #cc0404;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color: #363636;
    transform: skew(-25deg);
    width: 125px;
    text-align: center;
  }
.colorbackground .tabs-area li a.active {
    background-color: white;
    color: #cc0404;
  }
  .colorbackground .tabs-area li a:hover {
    background-color: white;
  }
  .nav {
    padding-top: 10px;
  }  

/* SLIDE */
.slider .fade{
    margin-top: -65px;
    transition: all ease-in-out 0.4s;
}
.slider .item {
    margin: 0 21px;
}
.slider .card-text {
    background-color: #cc0404;
    color: white;
}
.slider .card-title {
    font-weight: 999;
    padding-left: 10px;
}
.slider .card-text i {
    margin-left: 116px;
    font-size: 20px;
}
.slider .card {
    position: relative;
}
.slider .info {
    opacity: 0;
    position: absolute;
    width: 100%;
    background-color: #adb5c7d1;
    height: 230px;
}
.slider .info a {
    background-color: #eb1b2e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 80px;
}
.card:hover .info {
    opacity: 1;
    transition:ease-in-out 0.5s;
}
.card .fa-dollar-sign {
    font-size: 80px;
    color: #cc0404;
    margin-left: 120px;
    margin-top: 20px;
}
.card .info .card-2 {
    text-align: center;
    margin: 20px 0px;
}
.info .btn-danger {
    margin-left: 100px;
}
.card:hover img {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
}
/* Reason Choose Us */
.reason {
    width: 1350px;
    overflow: hidden;
}
.reason .reason2 {
    width: 56%;
    height: 270px;
    transform: skewX(-10deg);
    background-color: #2c2f34;
    color: #fff;
    font-size: 11px;
    overflow: hidden;
    margin-left: 46%;
    position: relative;
}
.reason .reason1 img {
    width: 48%;
    height: 270px;
    position: absolute;
}
.reason .reason-text .title-reason {
    font-weight: bold;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 70px;
}
.reason .reason2 .description-logo img {
    width: 32px;
    float: left;
    margin-right: 30px;
    margin-left: 6px;
}
.reason .reason2 .reason-text {
    transform: skew(10deg);
}
.reason2 .description-logo {
    padding: 5px;
    height: 46px;
    width: 68%;
}
/* Utilities */
.utilities {
    font-size: 14px;
}
.utilities .title-utiliti {
    font-size: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.utilities .section-utiliti {
    width: 100%;
    margin: 0 auto;
}
.utilities .section-utiliti .section-left {
    width: 33.33%;
    float: left;
    position: relative;
}
.utilities .section-utiliti .section-center {
    width: 33.33%;
    float: left;
}
.utilities .section-utiliti .section-right {
    width: 33.33%;
    float: left;
}
.utilities .section-utiliti {
    margin-bottom: 15px;
}
.utilities .section-utiliti .form-group a {
    text-decoration: none;
    color: #000;
}
.utilities .circle {
    text-align: center;
    height: 54px;
    width: 54px;
    font-size: 50px;
    color: #a52a2a;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.utilities .try-car {
    margin-left: 45%;
    margin-bottom: 10px;
}
.utilities .name-utiliti-1 {
    margin-left: 45%;
    display: inline-block;
}
.utilities .cost-estimator {
    margin-left: 25%;
    margin-bottom: 10px;
}
.utilities .name-utiliti-2 {
    margin-left: 20%;
    display: inline-block;
}
.utilities .compare-car {
    margin-left: 48%;
    margin-bottom: 10px;
}
.utilities .name-utiliti-3 {
    margin-left: 48%;
    display: inline-block;
}
.utilities .section-center .image {
    margin-left: -45%;
    margin-top: 0%;
} 
.utilities .section-center .image-center {
    width: 115%;
}
.utilities .schedule {
    margin-left: 17%;
    margin-bottom: 10px;
}
.utilities .name-utiliti-4 {
    margin-left: 14%;
    display: inline-block;
}
.utilities .receive-info {
    margin-left: 39%;
    margin-bottom: 10px;
}
.utilities .name-utiliti-5 {
    margin-left: 35%;
    display: inline-block;
}
.utilities .advice {
    margin-left: 12%;
    margin-bottom: 10px;
}
.utilities .name-utiliti-6 {
    margin-left: 6%;
    display: inline-block;
}
/* Hotlines */
.hotlines {
    width: 100%;
    margin-top: 20px;
}
.hotlines .info-hotlines {
    float: left;
    width: 50%;
}
.hotlines .about-hotlines {
    background-color: #2c2f34;
    font-weight: bold;
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.hotlines .phone-hotlines {
    background-color: #eb1b2e;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icon-hotlines img {
    position: relative;
    margin-left: 48%;
    margin-top: -68px;
    width: 64px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* Service */
.service {
    margin-right: -15px;
    margin-left: -15px;
}
.service .container {
    width: 1300px;
}
.service .repairservice {
    margin: 0 auto;
}
.service .repairservice .title-repairservice{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0px 20px;
}
.service .items-repairservice {
    float: left;
}
.service .heading-repairservice {
    font-weight: bold;
    border-bottom: #eb1b2e 1px solid;
    padding-bottom: 5px;
}
.service .items-repairservice img {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 162px;
}
.service .items-repairservice .text-repairservice {
    font-size: 13px;
}
.service .items-repairservice .button-repairservice {
    padding-top: 15px;
    padding-bottom: 25px;
}
.button-repairservice a {
    text-decoration: none;
}
.button-repairservice .color-btn {
    background-color: #eb1b2e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
/* News */
.news {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
}
.news .container {
    width: 1200px;
}
.news .newsdetail {
    margin: 0 auto;
}
.news .newsdetail .title-newsdetail{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0px 20px;
}
.news .items-newsdetail {
    float: left;
}
.news .newsdetail .image-newsdetail img {
    width: 100%;
}
.news .text-newsdetail {
    background-color: #483e3ef2;
    transform: translateY(-48px);
    color: white;
}
.news .more-newsdetail {
    margin-left: 490px;
}
.news .more-newsdetail a {
    text-decoration: none;
}
/* Contact */
.contact {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
}
.contact .container {
    width: 1200px;
}
.contact .home-contact {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 20px;
}
.contact .form-register {
    margin-top: 20px;
}
.form-register #phone {
    float: left;
    width: 240px;
}
.form-register #email {
    float: left;
    width: 250px;
    margin-left: 50px;   
}
.form-register .form-check-label {
    font-weight: bold;
    margin-bottom: 15px;
}
/* Phần custom checkbox này em tham khảo trên mạng ^^ */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #a52a2a;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #a52a2a!important;
}
/* Footer */
.footer {
    background-color: #000;
    padding-top: 20px;
    margin-top: 20px;
}
.footer .container {
    width: 1300px
}
.footer .top-footer {
    border-bottom: 0.6px #b9b9b9 solid;
    padding-bottom: 20px;
}
.top-footer .product-ft {
    color: #fff;
}
.top-footer  .title-ft {
    font-weight: bold;
    padding: 10px 0 10px 0;
    color: #fff;
}
.product-ft .car-ft i {
    margin: 0 5px;
}
.product-ft .logo-ft img{
    float: left;
    width: 30%;
}
.logo-ft {
    margin-top: 15px;
}
.top-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.support-line {
    padding-top: 5px;
    display: inline-block;
}
.top-footer .support span, .top-footer .support i {
    color: #fff;
    font-size: 14px;
}
.image-support {
    margin: 10px 0px;
}
/* Bottom Footer */
.bottom-footer {
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.bottom-footer a {
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    border-right: 0.6px #b9b9b963 solid;
}

















